!!! 5
html(lang="en")
  head
    title= pageTitle
  body
    h1.title PyJade working
    #container
      if youAreUsingJade
        p You are amazing
      else
        p Get on it!

    h2 hello 
      = name
    span.description #{name|capitalize} is a nice name!

    ul
      each val in [1, 2, 3, 4, 5]
        li= val
    
    ul
      each v in list_in_py
        li= v
